apache-airflow==1.10.15
black==20.8b0
# TODO remove MarkupSafe when Airflow goes to 2.x.x
MarkupSafe==1.1.1
pylint==2.14.0
pytest-helpers-namespace==2019.1.8
pytest-mock==1.10.1
pytest==5.4.3
sphinx-rtd-theme==0.5.0
Sphinx==3.3.1
